.h5-player-container {
    text-align: center;
}

.h5-player-control {
    text-align: left;
	margin: 0;
	background: #1b1b1b;
	position: relative;
	top: -5px;
	height: 40px;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.h5-player-progress-bg {
	display: block;
	background: #444444;
    width: 100%;
    height: 8px;
}

.h5-player-buffered {
	display: inline-block;
	background: #777777;
    height: 8px;
    position: absolute;
}

.h5-player-progress {
	display: inline-block;
	background: #cc181e;
    height: 8px;
    position: absolute;
}

.h5-player-slider {
	width: 16px;
	height: 16px;
	display: inline-block;
	position: relative;
   	top: -12px;
   	visibility: hidden;
	background: url("../img/slider.png") no-repeat 0 0;
}

.h5-player-slider:hover {
	cursor: pointer;
}

.h5-player-time {
	font-size: 13px;
	margin: 0;
	width: 140px;
	height: 15px;
	position: relative;
	left: 40px;
	top: 7px;
	display: inline-block;
	color: #ffffff;
	background: #1b1b1b;
	overflow: hidden;
}

.h5-player-play {
	margin: 0;
	width: 15px;
	height: 15px;
	position: relative;
	left: 20px;
	top: 8px;
	display: inline-block;
	background: url("../img/playpause_small.png") no-repeat 0 -15px;
}

.h5-player-play:hover {
	cursor: pointer;
}

.h5-player-stop {
	margin: 0;
	width: 15px;
	height: 15px;
	position: relative;
	left: 20px;
	top: 8px;
	display: inline-block;
	background: url("../img/playpause_small.png") no-repeat 0 0;
}

.h5-player-stop {
	cursor: pointer;
}

.h5-player-fullscreen {
	margin: 0;
	width: 20px;
	height: 17px;
	float: right;
	position: relative;
	top: 9px;
	left: -10px;
	display: inline-block;
	background: url("../img/fullscreen.png") no-repeat 0 0;
}

.h5-player-fullscreen:hover {
	cursor: pointer;
}

.h5-player-play-big {
	margin: 0;
	width: 117px;
	height: 117px;
	display: inline-block;
	position: absolute;
	background: url("../img/playpause_big.png") no-repeat 0 0;
}

.h5-player-play-big:hover {
	cursor: pointer;
}

.h5-player-stop-big {
	margin: 0;
	width: 117px;
	height: 117px;
	display: inline-block;
	position: absolute;
	display: inline-block;
	visibility: hidden;
	background: url("../img/playpause_big.png") no-repeat 0 -117px;
}

.h5-player-stop-big {
	cursor: pointer;
}